</section>
</main>
<footer>
	<section>
		<div class="upper-footer">
			<small>
				<p>
					THE WEBSITE FROM THIS REPOSITORY CANNOT BE USED FOR ANYTHING OTHER THAN ITS INTENDED PURPOSE UNTIL
					THE END OF THE CURRENT SEMESTER. PLEASE ASK ANY OF THE CURRENT CONTRIBUTORS TO THIS REPOSITORY FOR
					CONSENT OF APPROVAL TO USE FOR INQUIRIES ABOUT USING THE WEBSITE.
				</p>
			</small>
		</div>
	</section>

	<section>
		<div class="lower-footer">
			<small>
				<p>
					Made by:
				</p>

				<p>
					TVL-ICT Grade&nbsp;12&nbsp;-&nbsp;Jobs Group&nbsp;2 students
				</p>
			</small>
		</div>
	</section>
</footer>
</body>

</html>