/* Color Palette Themes */
.blue-bg {
	background-color: #0096ff;
}
.gold-bg {
	background-color: #ffc001;
}
.white-bg {
	background-color: #ffffff;
}
.lighter-gray-bg {
	background-color: #dbdbdb;
}
.light-gray-bg {
	background-color: #b9b9b9;
}
.gray-bg {
	background-color: #606368;
}
.dark-gray-bg {
	background-color: #222222;
}
.darker-gray-bg {
	background-color: #1b1b1b;
}
/* End Color Palette Themes */

* {
	box-sizing: border-box;
	/* outline: 1px solid #1b1b1b; */
}

html {
	scroll-behavior: smooth;
	font-size: initial;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100%;
}

body {
	background-color: #ffffff;
	margin: 0px;
	height: 100%;
	color: #606368;
	overflow-y: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #606368;
	margin: 10px 0px;
	cursor: default;
}

a {
	color: #ff3737;
	text-decoration: none;
	cursor: pointer;
}

p {
	margin: 10px 0px;
}

ul {
	padding: 0px 0px 0px 20px;
}

hr {
	display: block;
	margin: 10px 0px;
	width: 100%;
	border-color: #b9b9b9;
	border-style: solid;
	border-width: 1px;
}

/* Padding */
.padded {
	padding: 10px !important;
}
.padded-none {
	padding: 0 !important;
}
.padded-top-bottom {
	padding: 10px 0px !important;
}
.padded-top {
	padding-top: 10px !important;
}
.padded-bottom {
	padding-bottom: 10px !important;
}
.padded-left-right {
	padding: 0px 10px !important;
}
.padded-left {
	padding-left: 10px !important;
}
.padded-right {
	padding-right: 10px !important;
}
/* End Padding */

/* Margin */
.margin {
	margin: 10px !important;
}
.margin-none {
	margin: 0px !important;
}
.margin-top-bottom {
	margin: 10px 0px !important;
}
.margin-top {
	margin-top: 10px !important;
}
.margin-bottom {
	margin-bottom: 10px !important;
}
.margin-left-right {
	margin: 0px 10px !important;
}
.margin-left {
	margin-left: 10px !important;
}
.margin-right {
	margin-right: 10px !important;
}
/* End Margin */

/* Border */
.bordered {
	border: 1px solid #b9b9b9;
}
.border-top {
	border-top: 1px solid #b9b9b9;
}
.border-left {
	border-left: 1px solid #b9b9b9;
}
.border-bottom {
	border-bottom: 1px solid #b9b9b9;
}
.border-right {
	border-right: 1px solid #b9b9b9;
}

.bordered-blue {
	border: 1px solid #0096ff;
	background-color: #0096ff1f;
}
.border-blue-top {
	border-top: 1px solid #0096ff;
}
.border-blue-left {
	border-left: 1px solid #0096ff;
}
.border-blue-bottom {
	border-bottom: 1px solid #0096ff;
}
.border-blue-right {
	border-right: 1px solid #0096ff;
}

.bordered-gold {
	border: 1px solid #ffc001;
	background-color: #ffc0011f;
}
.border-gold-top {
	border-top: 1px solid #ffc001;
}
.border-gold-left {
	border-left: 1px solid #ffc001;
}
.border-gold-bottom {
	border-bottom: 1px solid #ffc001;
}
.border-gold-right {
	border-right: 1px solid #ffc001;
}

.bordered-red {
	border: 1px solid #f59191;
	background-color: #ff37371f;
}
.border-red-top {
	border-top: 1px solid #f59191;
}
.border-red-left {
	border-left: 1px solid #f59191;
}
.border-red-bottom {
	border-bottom: 1px solid #f59191;
}
.border-red-right {
	border-right: 1px solid #f59191;
}

.bordered-green {
	border: 1px solid #66ff33;
	background-color: #66ff331f;
}
.border-green-top {
	border-top: 1px solid #66ff33;
}
.border-green-left {
	border-left: 1px solid #66ff33;
}
.border-green-bottom {
	border-bottom: 1px solid #66ff33;
}
.border-green-right {
	border-right: 1px solid #66ff33;
}
/* End Border */

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #b9b9b9;
	border-radius: 5px;
}
/* End Scrollbar */

/* Container */
.main-container {
	display: flex;
	flex-flow: column;
	height: 100%;
}
.main-container-fixed {
	height: fit-content;
}
.main-container-remaining {
	flex-grow: 1;
}

.unselectable {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.scrollable {
	/* height: calc(100vh - 80px); */
	overflow-y: scroll;
}

.notification-red {
	border: 1px solid #f59191;
	border-radius: 6px;
	background-color: #ff37371f;
	color: #ff3737;
	font-weight: bold;
	padding: 10px;
	cursor: default;
}

.sticky {
	position: sticky;
	top: 0;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.shadowed {
	box-shadow: 0 0 5px #1b1b1b;
}

.full-height {
	height: 100% !important;
}

.full-width {
	width: 100% !important;
}
.three-quarter-width {
	width: 75% !important;
}
.half-width {
	width: 50% !important;
}
.quarter-width {
	width: 25% !important;
}
.fit-width {
	width: fit-content !important;
}

.equal-container {
	display: flex;
	width: 100%;
}
.equal-content {
	flex: 1;
}
.equal-container-spaced {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.equal-content-spaced {
	display: block;
}

.rounded {
	border-radius: 6px;
}
.rounded-top {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.rounded-bottom {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.rounded-left {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.rounded-right {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
/* End Container */

/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	cursor: pointer;
}

.panel {
	background-color: transparent;
	display: none;
	overflow: hidden;
}
/* End Accordion */

/* Text */
.no-wrap {
	white-space: nowrap;
}
/* End Text */

/* Profile Picture */
img.profile {
	border-radius: 100%;
}
/* End Profile Picture */

/* Form */
form a.button-link {
	color: #606368;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	padding: 10px;
}
form a.button-link:hover {
	background-color: #1b1b1b1f;
}

fieldset {
	border: none;
	margin: 0px;
	padding: 0px;
}

legend {
	padding: 0px;
	font-weight: bold;
}

input {
	outline: none;
	border: 1px solid #b9b9b9;
	border-radius: 6px;
	background-color: transparent;
	color: #606368;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	padding: 10px;
}
input:hover {
	background-color: #1b1b1b1f;
}
input:focus {
	border: 1px solid #0096ff;
}
input[type='checkbox'] + label {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}
input:disabled {
	color: #1b1b1b;
}
select {
	outline: none;
	border: 1px solid #b9b9b9;
	border-radius: 6px;
	background-color: transparent;
	color: #606368;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	padding: 10px;
}
select:hover {
	background-color: #1b1b1b1f;
}
select:focus {
	border: 1px solid #0096ff;
}
select:disabled {
	color: #1b1b1b;
}
textarea {
	outline: none;
	border: 1px solid #b9b9b9;
	border-radius: 6px;
	background-color: transparent;
	color: #606368;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	padding: 10px;
}
textarea:hover {
	background-color: #1b1b1b1f;
}
textarea:focus {
	border: 1px solid #0096ff;
}

button {
	border: 1px solid #b9b9b9;
	border-radius: 100px;
	background-color: #ffffff;
	color: #0096ff;
	margin: 5px 0px;
	padding: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	cursor: pointer;
}
button.active {
	border: 1px solid #0096ff !important;
	background-color: #0096ff !important;
	color: #ffffff !important;
}
button:hover {
	background-color: #1b1b1b1f;
}

button.red {
	border: 1px solid #f59191;
	border-radius: 100px;
	background-color: #ffffff;
	color: #ff3737;
	margin: 5px 0px;
	padding: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	cursor: pointer;
}
button.red:hover {
	background-color: #ff37371f;
}

button.gray {
	border: 1px solid #b9b9b9;
	border-radius: 100px;
	background-color: #ffffff;
	color: #606368;
	margin: 5px 0px;
	padding: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	cursor: pointer;
}
button.gray:hover {
	background-color: #1b1b1b1f;
}

button.has-announcement {
	border: 1px solid #ff3737 !important;
	border-radius: 100px;
	background-color: #ff3737 !important;
	color: #ffffff !important;
	margin: 5px 0px;
	padding: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	cursor: pointer;
}
/* End Form */

/* Mobile Dynamic */
@media only screen and (max-width: 760px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
	}

	.scrollable {
		overflow-y: initial;
	}

	.margin-left-right {
		margin: 0px 0px !important;
	}
	.margin-left {
		margin-left: 0px !important;
	}
	.margin-right {
		margin-right: 0px !important;
	}

	.equal-container {
		display: inline-block;
	}
	.equal-content {
		border-radius: 0px;
		margin-bottom: 10px !important;
	}
	.equal-content:last-child {
		border-radius: 0px;
		margin: 0px !important;
	}

	.equal-container-spaced {
		display: inline-block;
	}
	.equal-content-spaced {
		border-radius: 0px;
		margin-bottom: 10px !important;
	}
	.equal-content-spaced:last-child {
		border-radius: 0px;
		margin: 0px !important;
	}

	.three-quarter-width {
		width: 100% !important;
	}
	.half-width {
		width: 100% !important;
	}
	.quarter-width {
		width: 100% !important;
	}
	.fit-width {
		width: 100% !important;
	}

	form .padded-left-right {
		padding: 0px 0px !important;
	}
	form .padded-left {
		padding-left: 0px !important;
	}
	form .padded-right {
		padding-right: 0px !important;
	}

	::-webkit-scrollbar {
		width: 0px;
	}
}

@media only screen and (min-width: 1520px) {
	.main-container-remaining {
		width: 1520px;
		margin-left: auto;
		margin-right: auto;
	}
}
/* End Mobile Dynamic */
