/* Color Palette Themes */
.blue {
	background-color: #0096ff;
}
.gold {
	background-color: #ffc001;
}
.white {
	background-color: #ffffff;
}
.light-gray {
	background-color: #dbdbdb;
}
.gray {
	background-color: #b9b9b9;
}
.dark-gray {
	background-color: #222222;
}
.darker-gray {
	background-color: #1b1b1b;
}
/* End Color Palette Themes */

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: sans-serif;
	font-size: initial;
	height: 100%;
}

body {
	background-color: #b9b9b9;
	margin: 0px;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #0096ff;
	margin: 12px 0px;
}
.blue h1,
.blue h2,
.blue h3,
.blue h4,
.blue h5,
.blue h6 {
	color: #ffffff;
	margin: 12px 0px;
}
.gold h1,
.gold h2,
.gold h3,
.gold h4,
.gold h5,
.gold h6 {
	color: #0096ff;
	margin: 12px 0px;
}

a {
	color: #ff3737;
	text-decoration: none;
	/* transition: all 0.1s linear; */
}

p {
	margin: 12px 0px;
}

ul {
	padding: 0px 0px 0px 20px;
}
/* Padding */
.padded {
	padding: 20px !important;
}
.padded-none {
	padding: 0 !important;
}
.padded-top-bottom {
	padding: 20px 0px !important;
}
.padded-top {
	padding-top: 20px !important;
}
.padded-bottom {
	padding-bottom: 20px !important;
}
.padded-left-right {
	padding: 0px 20px !important;
}
.padded-left {
	padding-left: 20px !important;
}
.padded-right {
	padding-right: 20px !important;
}
/* End Padding */

/* Margin */
.margin {
	margin: 20px !important;
}
.margin-none {
	margin: 0px !important;
}
.margin-top-bottom {
	margin: 20px 0px !important;
}
.margin-top {
	margin-top: 20px !important;
}
.margin-bottom {
	margin-bottom: 20px !important;
}
.margin-left-right {
	margin: 0px 20px !important;
}
.margin-left {
	margin-left: 20px !important;
}
.margin-right {
	margin-right: 20px !important;
}
/* End Margin */

/* Container */
.notification {
	background-color: #ff373740;
	border-left: 2px solid #ff3737;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 20px;
	color: #ff3737;
	font-weight: 800;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-height {
	height: 100% !important;
}

.full-width {
	width: 100% !important;
}
.three-quarter-width {
	width: 75% !important;
}
.half-width {
	width: 50% !important;
}
.quarter-width {
	width: 25% !important;
}
.fit-width {
	width: fit-content !important;
}

.equal-container {
	display: flex;
	width: 100%;
}
.equal-content {
	flex: 1;
}
.equal-container-spaced {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.equal-content-spaced {
	display: block;
}

.rounded {
	border-radius: 20px;
}
.rounded-top {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.rounded-bottom {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.rounded-left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.rounded-right {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
/* End Container */

/* Text */
.no-wrap {
	white-space: nowrap;
}
/* End Text */

/* Form */
fieldset {
	border: none;
}
legend {
	padding: 0px;
	font-weight: 800;
}
input {
	outline: none;
	border: none;
	border-bottom: 2px solid #b9b9b9;
	font-family: monospace;
	font-size: larger;
	padding: 4px;
	/* transition: all 0.1s linear; */
}
input:hover {
	border-bottom: 2px solid #ffc001;
	/* transition: all 0.1s linear; */
}
input:focus {
	border-bottom: 2px solid #0096ff;
	/* transition: all 0.1s linear; */
}
input[type='checkbox'],
input[type='checkbox'] + label {
	cursor: pointer;
}
input[type='file'] {
	outline: none;
	border: none;
	font-family: monospace;
	font-size: larger;
	padding: 4px;
}
select {
	outline: none;
	border: none;
	border-bottom: 2px solid #b9b9b9;
	font-family: monospace;
	font-size: inherit;
	padding: 4px;
}
select:hover {
	border-bottom: 2px solid #ffc001;
	/* transition: all 0.1s linear; */
}
select:focus {
	border-bottom: 2px solid #0096ff;
	/* transition: all 0.1s linear; */
}
button {
	border: none;
	background-color: #0096ff;
	padding: 8px;
	color: #ffffff;
	font-size: larger;
	font-weight: 800;
	cursor: pointer;
	/* transition: all 0.1s linear; */
}
button:hover {
	background-color: #0095ff40;
	color: #0096ff;
	/* transition: all 0.1s linear; */
}
button h1,
button h2,
button h3,
button h4,
button h5,
button h6 {
	color: #ffffff;
	/* transition: all 0.1s linear; */
}
button:hover h1,
button:hover h2,
button:hover h3,
button:hover h4,
button:hover h5,
button:hover h6 {
	color: #0096ff;
	/* transition: all 0.1s linear; */
}
/* button:focus {
	border: 2px solid transparent;
	background-color: transparent;
	color: #0096ff;
	transition: all 0.1s linear;
} */
button.red {
	border: none;
	background-color: #ff3737;
	padding: 8px;
	color: #ffffff;
	font-size: larger;
	font-weight: 800;
	cursor: pointer;
	/* transition: all 0.1s linear; */
}
button.red:hover {
	background-color: #ff373740;
	color: #ff3737;
	/* transition: all 0.1s linear; */
}
button.red h1,
button.red h2,
button.red h3,
button.red h4,
button.red h5,
button.red h6 {
	color: #ffffff;
	/* transition: all 0.1s linear; */
}
button.red:hover h1,
button.red:hover h2,
button.red:hover h3,
button.red:hover h4,
button.red:hover h5,
button.red:hover h6 {
	color: #ff3737;
	/* transition: all 0.1s linear; */
}

/* button.red:focus {
	border: 2px solid transparent;
	background-color: transparent;
	color: #ff3737;
	transition: all 0.1s linear;
} */
/* End Form */

/* Animation */
.fade-in {
	animation-name: FadeIn;
	animation-duration: 1s;
	transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes FadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* End Animation */

/* Menu Bar */
.sticky-top {
	position: sticky;
	top: 0;
}
.sticky-top-padded {
	position: sticky;
	top: 20px;
}
.sticky-bottom {
	position: sticky;
	bottom: 0;
}
.sticky-bottom-padded {
	position: sticky;
	bottom: 20px;
}
.menu-bar {
	display: flex;
	justify-content: space-between;
	background-color: #0096ff;
}
.menu-bar .group {
	display: block;
}
.menu-bar .item {
	padding: 10px 20px;
	background-color: transparent;
	display: inline-block;
	color: #ffffff;
}
.menu-bar .item:hover {
	background-color: #ffffff;
	color: #0096ff;
}
.menu-bar .item.title {
	font-weight: 600;
}
/* End Menu Bar */

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #0096ff;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: #ffc001;
}
/* End Scrollbar */

/* Mobile Dynamic */
@media only screen and (max-width: 992px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
	}

	.equal-container {
		display: inline-block;
	}
	.equal-content {
		border-radius: 0px;
		margin: 0px 0px 20px;
	}
	.equal-content:last-child {
		border-radius: 0px;
		margin: 0px;
	}

	.equal-container-spaced {
		display: inline-block;
	}
	.equal-content-spaced {
		border-radius: 0px;
		margin: 0px 0px 20px;
	}
	.equal-content-spaced:last-child {
		border-radius: 0px;
		margin: 0px;
	}

	.margin-left-right {
		margin: 0px 0px !important;
	}
	.margin-left {
		margin-left: 0px !important;
	}
	.margin-right {
		margin-right: 0px !important;
	}

	.three-quarter-width {
		width: 100% !important;
	}
	.half-width {
		width: 100% !important;
	}
	.quarter-width {
		width: 100% !important;
	}
	.fit-width {
		width: 100% !important;
	}

	form .padded-left-right {
		padding: 0px 0px !important;
	}
	form .padded-left {
		padding-left: 0px !important;
	}
	form .padded-right {
		padding-right: 0px !important;
	}

	::-webkit-scrollbar {
		width: 0px;
	}
}
/* End Mobile Dynamic */
